* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --header-height: 20px;

    color: white;

    min-height: 100vh;
    background-image: url('./images/background.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* фиксирует фон при скролле */
    background-size: cover; /* масштабирует картинку под размеры экрана без искажений */
}

header {
    height: var(--header-height);
}

nav {
    padding: 20px;
}

nav > button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

#content {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.base > h1,
.base > p {
    paint-order: stroke fill; /* сначала рисуется обводка, затем заливка поверх */
}